<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SmartTourismTaiwanDataProvider-Universal.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SmartTourismTaiwanDataProvider.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A275F4FD1C27DC8100FA5C20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A275F5071C27DC8100FA5C20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2D5B30D1C44A09F00DAD8DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2F74F081C44D16A0071C510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2F74F0D1C44D25A0071C510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
